<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joojoo.mapper.CouponMapper">
  	<resultMap type="Coupon" id="CouponMap">
		<id column="couponCode" jdbcType="VARCHAR" property="couponCode" />
		<id column="ownerId" jdbcType="VARCHAR" property="ownerId" />
		<id column="userId" jdbcType="VARCHAR" property="userId" />
		<id column="commentCode" jdbcType="INTEGER" property="commentCode" />
		<id column="couponStatus" jdbcType="VARCHAR" property="couponStatus" />
		
		<result column="couponCode" jdbcType="VARCHAR" property="couponCode" />
		<result column="ownerId" jdbcType="VARCHAR" property="ownerId" />
		<result column="userId" jdbcType="VARCHAR" property="userId" />
		<result column="commentCode" jdbcType="INTEGER" property="commentCode" />
		<result column="couponStatus" jdbcType="VARCHAR" property="couponStatus" />
	</resultMap>  
	
 	<insert id="insertCoupon" parameterType="Coupon">
		insert into Coupon (coupon_code, owner_id, comment_code, coupon_status)
		values (#{couponCode}, #{ownerId}, #{commentCode}, #{couponStatus})	
	</insert> 
 
 	<update id="updateCoupon" parameterType="All">
		UPDATE Coupon SET
		owner_id = #{ownerId},
		user_id = #{userId},
		comment_code = #{commentCode},
		coupon_status = #{couponStatus}
		WHERE coupon_code = #{couponCode}
	</update>
 	
	<delete id="deleteCoupon" parameterType="String">
		DELETE FROM Coupon
		WHERE coupon_code = #{couponCode}
	</delete>
	
	<select id= "getCouponByUserId" parameterType="String"
						resultType="All">
		select * 
		from Coupon 
		where user_id=#{userId}					
	</select>
	
	<select id= "getCouponsByStatusAndUserId" parameterType="String"
						resultType="All">
		select * 
		from Coupon 
		join event_comment using(comment_code)
		join stores using(store_code)
		where user_id=#{userId}	and coupon_status=#{couponStatus}					
	</select>
	
	<select id= "getCouponByOwnerId" parameterType="String"
						resultType="All">
		
		select <!-- c.coupon_code, c.owner_id, c.user_id, c.comment_code, c.coupon_status, -->
			c.*, e.*, s.*, o.*, u.*
			<!-- e.title, e.content, e.start_date, e.end_date, e.service_type_name, e.persons_level,
			o.owner_name, u.user_name -->
		from coupon c
		join event_comment e on e.comment_code=c.comment_code
		join stores s on (s.store_code=e.store_code)
		join owners o on (o.owner_id=c.owner_id)
		join users u on (u.user_id=c.user_id) 
		<!-- join event_comment e using(comment_code)
		join stores s using(store_code)
		join owners o using(owner_id)
		join users u using(user_id) -->
		where c.owner_id=#{ownerId}					
	</select>
	
	<select id= "getCouponsByCommentCode" parameterType="INTEGER"
						resultType="All">
		select * 
		from coupon 
		where comment_code=#{commentCode}					
	</select>
	
	<select id= "getCouponByStatus" parameterType="String"
						resultType="All">
		select * 
		from coupon 
		where coupon_status=#{couponStatus}				
	</select>
	
	<select id= "getCouponsByCouponCode" parameterType="String"
						resultType="All">
		select coupon_code, owner_id, user_id, comment_code, coupon_status 
		from coupon 
		where coupon_code = #{couponCode}					
	</select>

</mapper>