<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joojoo.mapper.EventCommentMapper">
  	 <resultMap type="EventComment" id="EventCommentMap">
		<id column="commentCode" jdbcType="INTEGER" property="commentCode" />
		<id column="title" jdbcType="VARCHAR" property="title" />
		<id column="content" jdbcType="VARCHAR" property="content" />
		<id column="regDate" jdbcType="DATE" property="regDate" />
		<id column="startDate" jdbcType="DATE" property="startDate" />
		<id column="endDate" jdbcType="DATE" property="endDate" />
		<id column="storeCode" jdbcType="INTEGER" property="storeCode" />
		<id column="personsLevel" jdbcType="VARCHAR" property="personsName" />
		<id column="serviceTypeName" jdbcType="VARCHAR" property="serviceTypeName" />
		<id column="deleteRequest" jdbcType="VARCHAR" property="deleteRequest" />
		
		<result column="commentCode" jdbcType="INTEGER" property="commentCode" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="regDate" jdbcType="DATE" property="regDate" />
		<result column="startDate" jdbcType="DATE" property="startDate" />
		<result column="endDate" jdbcType="DATE" property="endDate" />
		<result column="storeCode" jdbcType="INTEGER" property="storeCode" />
		<result column="personsLevel" jdbcType="VARCHAR" property="personsLevel" />
		<result column="serviceTypeName" jdbcType="VARCHAR" property="serviceTypeName" />
		<result column="deleteRequest" jdbcType="VARCHAR" property="deleteRequest" />
	</resultMap> 
	
 	<insert id="insertEventComment" parameterType="EventComment">
		insert into event_comment(title, content, start_date, end_date, store_code, persons_level, service_type_name) 
		values(#{title}, #{content},#{startDate}, #{endDate}, #{storeCode}, #{personsLevel}, #{serviceTypeName})	
	</insert> 
 
  	<update id="updateEventComment" parameterType="All">
		UPDATE event_comment SET
		title = #{title},
		content = #{content},
		start_date = #{startDate},
		end_date = #{endDate},
		store_code = #{storeCode},
		persons_level = #{personsLevel},
		service_type_name = #{serviceTypeName}
		WHERE comment_code = #{commentCode}
	</update>
 	
	<delete id="deleteEventComment" parameterType="INTEGER">
		DELETE FROM event_comment
		WHERE comment_code = #{commentCode}
	</delete>
	
	<delete id="deleteEventCommentByOwnerId" parameterType="String">
		DELETE FROM event_comment
		WHERE owner_id = #{ownerId}
	</delete>
	
	<!--  int regionCode, int typeCode, int personsCode, int serviceTypeCode -->
	 <select id= "getEventCommentsByCategory" parameterType="EventComment"
						resultType="All">
		select * 
		from event_comment e
		join stores s using(store_code)	
		join owners using(owner_id)	
		 
		<where>
		<if test='regionName != "none" '>
    		region_name = #{regionName}
  		</if>
  		<if test='typeName != "none" '>
  			and type_name = #{typeName}
  		</if>
  		<if test='personsLevel != "none" '>
  			and persons_level = #{personsLevel}
  		</if>
  		<if test='serviceTypeName != "none"'>
  			and service_type_name = #{serviceTypeName}
  		</if>
  		</where>		
	</select>
	
	<!-- <select id= "getEventCommentsByRegionCode" parameterType="Integer"
						resultMap="EventCommentMap">
		select * 
		from event_comment e
		join stores s using(store_code)
		join region r using(region_code)
		join store_type t using(type_code)
		join persons p using(persons_code)
		join service_type using(service_type_code)
		join owners using(owner_id)	
		 		
		where region_code = #{regionCode}		
	</select>
	
	<select id= "getEventCommentsByTypeCode" parameterType="Integer"
						resultMap="EventCommentMap">
		select * 
		from event_comment e
		join stores s using(store_code)
		join region r using(region_code)
		join store_type t using(type_code)
		join persons p using(persons_code)
		join service_type using(service_type_code)
		join owners using(owner_id)	
		 		
		where type_code = #{typeCode}		
	</select>
	
	<select id= "getEventCommentsByPersonsCode" parameterType="Integer"
						resultMap="EventCommentMap">
		select * 
		from event_comment e
		join stores s using(store_code)
		join region r using(region_code)
		join store_type t using(type_code)
		join persons p using(persons_code)
		join service_type using(service_type_code)
		join owners using(owner_id)	
		 		
		where persons_code = #{personsCode}		
	</select>
	
	<select id= "getEventCommentsByServiceTypeCode" parameterType="Integer"
						resultMap="EventCommentMap">
		select * 
		from event_comment e
		join stores s using(store_code)
		join region r using(region_code)
		join store_type t using(type_code)
		join persons p using(persons_code)
		join service_type using(service_type_code)
		join owners using(owner_id)	
		 		
		where service_type_code = #{serviceTypeCode}			
	</select> -->
	
	<select id= "getEventCommentsByKeyword" parameterType="EventComment"
						resultType="All">
		select * 
		from event_comment e
		join stores s using(store_code)
		join owners using(owner_id)	
		
		where title like '%${keyword}%'
		or content like '%${keyword}%'
		or store_name like '%${keyword}%'
		or store_adress like '%${keyword}%'
		or owner_name like '%${keyword}%'
		or region_name like '%${keyword}%'
		or type_name like '%${keyword}%'
		or persons_level like '%${keyword}%'
		or service_type_name like '%${keyword}%'

	</select>
	
	<select id= "getAllEventComments" resultType="All">
		select * 
		from event_comment
		join stores s using(store_code)
		left join owners using(owner_id)	
	</select>
	
	<select id= "getEventCommentsByOwnerId" parameterType="EventComment"
						resultType="All">
		select * 
		from event_comment e
		join stores s using(store_code)
		<!-- join region r using(region_code)
		join store_type t using(type_code)
		join persons p using(persons_code)
		join service_type using(service_type_code)
		join owners using(owner_id)	 -->
		 		
		where owner_id = #{ownerId}			
	</select>
	
	
	 <select id= "getEventCommentByCommentCode" parameterType="Integer"
						resultType="All">
		select * 
		from event_comment e
		join stores s using(store_code)
		join owners using(owner_id)
		 		
		where comment_code = #{commentCode}			
	</select>
	
	<select id= "getEventCommentsValid" resultType="All">
		select * 
		from event_comment e
		join stores s using(store_code)
		join owners using(owner_id)		
		where end_date <![CDATA[ < ]]> sysdate			
	</select>

</mapper>