<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="joojoo.mapper.RviewCommentMapper">

  	<resultMap type="RviewComment" id="RviewCommentMap">
		
		<id column="commentCode" jdbcType="INTEGER" property="commentCode" />		
		<id column="userId" jdbcType="VARCHAR" property="userId" />		
		<id column="title" jdbcType="VARCHAR" property="title" />		
		<id column="content" jdbcType="VARCHAR" property="content" />		
		<id column="regDate" jdbcType="DATE" property="regDate" />		
		<id column="starPoint" jdbcType="INTEGER" property="starPoint" />			
		<id column="storeCode" jdbcType="INTEGER" property="storeCode" />		
		
		<result column="commentCode" jdbcType="INTEGER" property="commentCode" />		
		<result column="userId" jdbcType="VARCHAR" property="userId" />		
		<result column="title" jdbcType="VARCHAR" property="title" />		
		<result column="content" jdbcType="VARCHAR" property="content" />		
		<result column="regDate" jdbcType="DATE" property="regDate" />		
		<result column="starPoint" jdbcType="INTEGER" property="starPoint" />			
		<result column="storeCode" jdbcType="INTEGER" property="storeCode" />	
		
	</resultMap> 
	
<!-- 		comment_code number NOT NULL,
	owner_id varchar2(20) NOT NULL,
	title varchar2(200) NOT NULL,
	content varchar2(500) NOT NULL,
	reg_date date DEFAULT SYSDATE NOT NULL,
	star_point number NOT NULL,
	store_code number NOT NULL,
	user_id varchar2(20) NOT NULL, -->
	
	 <insert id="insertRviewComment" parameterType="RviewComment">
		insert into rview_comment(user_id, title, content, star_point, store_code,reg_date) 
		values(#{userId}, #{title}, #{content}, #{starPoint}, #{storeCode},#{regDate})	
	</insert> 
	
 	<update id="updateRviewComment" parameterType="RviewComment">
		UPDATE rview_comment SET
		user_id = #{userId},
		title = #{title},
		content = #{content},
		star_point = #{starPoint},
		store_code = #{storeCode}	
		WHERE comment_code = #{commentCode}
	</update>
 	
	<delete id="deleteRviewComment" parameterType="INTEGER">
		DELETE FROM rview_comment
		WHERE comment_code = #{commentCode}
	</delete>
	
	<select id="getRviewCommentsByUserId" parameterType="String"
						resultType="All">
		select * 
		from rview_comment 
		join stores s using(store_code)
		join users u using(user_id)
		join owners using(owner_id)	
		where user_id=#{userId}					
	</select>
	
	<select id= "getRviewCommentsByStoreCode" parameterType="INTEGER"
						resultType="All">
		select * 
		from rview_comment 
		join stores s using(store_code)
		join region r using(region_name)
		join users u using(user_id)
		join store_type t using(type_name)
		join owners using(owner_id)	
		where store_code=#{storeCode}					
	</select>
	
	<select id= "getRviewCommentsByKeyword" parameterType="Category"
						resultType="All">
		select * 
		from rview_comment 
		join stores s using(store_code)	
		join users u using(user_id)	
		join owners o using(owner_id)	
		
		where title like '%${keyword}%'
		or content like '%${keyword}%'
		or store_name like '%${keyword}%'
		or store_adress like '%${keyword}%'
		or owner_name like '%${keyword}%'
		or region_name like '%${keyword}%'
		or type_name like '%${keyword}%'

	</select> 
	
	<select id= "getRviewCommentsByUserName" parameterType="String"
						resultType="All">
		select * 
		from rview_comment
		join stores s using(store_code)
		join users u using(user_id)
		join owners using(owner_id)	 
		where u.user_name like '%${value}%'					
	</select>
	
	
	
	<select id= "getRviewCommentsByContent" parameterType="RviewComment"
						resultType="All">
		select * 
		from rview_comment
		join stores s using(store_code)
		join region r using(region_name)
		join users u using(user_id)
		join store_type t using(type_name)
		join owners using(owner_id)	 
		where content like '%${value}%'					
	</select>
	
	<select id= "getRviewCommentsByTitle" parameterType="String"
						resultType="All">
		select * 
		from rview_comment
		join stores s using(store_code)
		join region r using(region_name)
		join users u using(user_id)
		join store_type t using(type_name)
		join owners using(owner_id)	 
		where title like '%${value}%'					
	</select>
	
	<select id= "getAllRviewComments" resultType="All">
		select * 
		from rview_comment
	</select>
	
	<select id= "getRviewCommentByCommentCode" parameterType="Integer"
						resultType="All">
		select * 
		from rview_comment r
		join stores s using(store_code)
		join users using(user_id)
		 		
		where r.comment_code = #{commentCode}			
	</select>
	<!-- <select id= "getRviewCommentBycommentCode" parameterType="INTEGER" resultType="All">
		select * 
		from rview_comment
		where comment_code = #{commentCode}
	</select> -->
	
	<select id= "getRviewCommentsByStoreName" parameterType="String" resultType="All">
		select * 
		from rview_comment
		join stores s using(store_code)
		join region r using(region_name)
		join users u using(user_id)
		join store_type t using(type_name)
		join owners using(owner_id)	 
		where store_name like '%${store_name}%'	
	</select>
</mapper>