<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joojoo.mappers.storeMapper">


	<insert id="insertStore" parameterType="Stores">
		insert into stores (store_code, store_name, store_adress, store_phone,
		owner_id, region_code, type_code, star_point)
		values(#{storeCode}, #{storeName}, #{storeAdress}, #{storePhone},
		#{ownerId},#{regionCode},#{typeCode},#{starPoint})
	</insert>
	
	<update id = "updateStore" parameterType = "Stores">
  		update stores 
  		set store_name = #{storeName}, store_adress = #{storeAdress}, store_phone = #{storePhone},
  		owner_id = #{ownerId}, region_code = #{regionCode}, type_code = #{typeCode}, star_point = #{starPoint}
  		where store_code = #{storeCode}
    </update>
  	
  	<delete id = "deleteStore" parameterType="Integer">
  		delete from stores where comment_no = #{commentNo}
  	</delete>
  	
  
  	
  	<select id = "getStoresByOwnerId" resultType="List">
	select *
	from departments
	where location_id=#{locationId}
	</select>
	
	<select id = "getAllDepartments" resultType="Department">
	select *
	from departments
	
	</select>
	
	
	<select id = "getDepartmentsByManagerId" resultType="Department">
	select *
	from departments
	where manager_id=#{managerId}
	</select>
	
	<select id = "getDepartmentByIdWithEmployees" resultType="Department">
	select *
	from departments d
	join employees e
	on d.department_id = e.department_id
	and d.department_id = #{departmentId}
	</select>
	
  
</mapper>