<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joojoo.mappers.StoresMapper">


	<insert id="insertStore" parameterType="Stores">
		insert into stores (store_name, store_adress, store_phone , owner_id, region_name,type_name)
		values(#{storeName}, #{storeAdress}, #{storePhone}, #{ownerId},#{regionName},#{typeName})
	</insert>
  
  	<update id="updateStore" parameterType="Stores">
  	
  	update stores
  	set store_name = #{storeName},
  		store_adress=#{storeAdress},
  		store_phone=#{storePhone},
  		owner_id = #{ownerId},
  		region_name = #{regionName},
  		type_name = #{typeName},
  		star_point = #{starPoint}
  	where store_code=#{storeCode}  	
  	
  	</update>
  	
  	<delete id="deleteStore" parameterType="Integer">
  	delete from stores
  	where store_code=#{storeCode}
  	</delete>
  	
  	<select id = "getStoresByOwnerId" resultType="All">
	select *
	from stores
	where owner_id=#{ownerId}
	</select>
  	
  	<select id = "getStoreByStoreCode" resultType="All">
	select *
	from stores
	where store_code=#{storeCode}
	
	</select>
	
	<select id = "getStoresByStoreType" resultType="All">
	select *
	from stores
	where type_code=#{typeCode}
	
	</select>
	
	<select id = "getAllStore" resultType="All">
	select *
	from stores
	
	</select>
	
	<select id = "getStoresByRegion" resultType="All">
	select *
	from stores
	where region_code=#{regionCode}
	
	</select>
	
	<select id="getStoresByCategory"  resultType="All">
 	 SELECT * FROM stores
  <where> 
    <if test="regionCode != 0">
         region_code=#{regionCode}
    </if> 
    <if test="typeCode != 0">
        and type_code=#{typeCode}
    </if>
  </where>
</select>


	
	<select id= "getStoresBySearchKeyword" resultType="All">
		select * 
		from stores s 
		
		
		where r.region_name like '%${keyword}%'
		or t.type_name like '%${keyword}%'
		or s.store_name like '%${keyword}%'
		or s.store_phone like '%${keyword}%'
		or s.store_adress like '%${keyword}%'
		
	</select>
	
	
  
</mapper>
