<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joojoo.mappers.storeMapper">


	<insert id="insertStore" parameterType="Users">
		insert into users (user_id, user_password, user_name, user_mail, user_phone, chance)
		values(#{userId}, #{userName}, #{userPassword}, #{userMail},#{userPhone},#{chance})
	</insert>
  
  	<update id="updateUser" parameterType="Users">
  	update users
  	set user_password = #{userPassword},
  		user_mail=#{userMail},
  		user_phone=#{userPhone}	
  	where user_id=#{userId}  	
  	</update>
  	
  	<select id="getDepartmentById" parameterType="Integer" resultType="Department">
  	select *
  	from departments 
  	where department_id=#{departmentId}
  	
  	</select>
  	
  	<select id = "getDepartmentCountByLocationId" resultType="Integer">
	select count(*)
	from departments
	where location_id=#{locationId}
	</select>
  	
  	<select id = "getDepartmentsByLocationId" resultType="Map">
	select *
	from departments
	where location_id=#{locationId}
	</select>
	
	<select id = "getAllDepartments" resultType="Department">
	select *
	from departments
	
	</select>
	
	
	<select id = "getDepartmentsByManagerId" resultType="Department">
	select *
	from departments
	where manager_id=#{managerId}
	</select>
	
	<select id = "getDepartmentByIdWithEmployees" resultType="Department">
	select *
	from departments d
	join employees e
	on d.department_id = e.department_id
	and d.department_id = #{departmentId}
	</select>
	
  
</mapper>