<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joojoo.mappers.WishListMapper">


	<insert id="insertWishList" parameterType="WishList">
		insert into wish_list (user_id,comment_code)
		values(#{userId}, #{commentCode})
	</insert>
	
	
  	<delete id = "deleteWishList" parameterType="Integer">
  		delete from wish_list where wish_list_code = #{wishListCode}
  	</delete>
  	
  	<select id = "getWishListsByUserId" resultType="WishList">
	select *
	from wish_list
	where user_id=#{userId}
	
	</select>
  
  	
	
  
</mapper>