<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
 	<typeAliases> 
		<typeAlias type="joojoo.entity.Coupon" alias="Coupon"></typeAlias>
		<typeAlias type="joojoo.entity.ReviewComment" alias="ReviewComment"></typeAlias>
	</typeAliases>
	
	
	
	<mappers>
		<mapper resource="mappers/CouponMapper.xml" />	
		<mapper resource="mappers/ReviewCommentMapper.xml" />		
	</mappers>
	
	
	
</configuration>