<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
 	<typeAliases> 
		<typeAlias type="joojoo.entity.Coupon" alias="Coupon"></typeAlias>
		<typeAlias type="joojoo.entity.EventComment" alias="EventComment"></typeAlias>
		<typeAlias type="joojoo.entity.Owners" alias="Owners"></typeAlias>
		<typeAlias type="joojoo.entity.ReviewComment" alias="ReviewComment"></typeAlias>
		<typeAlias type="joojoo.entity.Stores" alias="Stores"></typeAlias>
		<typeAlias type="joojoo.entity.Users" alias="Users"></typeAlias>
		<typeAlias type="joojoo.entity.WishList" alias="WishList"></typeAlias>
	</typeAliases>
	
	
	
	<mappers>
		<mapper resource="mappers/CouponMapper.xml" />
		<mapper resource="mappers/EventCommentMapper.xml" />
		<!-- <mapper resource="mappers/OwnersMapper.xml" /> -->		
		<mapper resource="mappers/ReviewCommentMapper.xml" />
		<!-- <mapper resource="mappers/StoresMapper.xml" />
		<mapper resource="mappers/UsersMapper.xml" />
		<mapper resource="mappers/WishListMapper.xml" /> -->		
	</mappers>
	
	
	
</configuration>